@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color:#000000;
    --black:linear-gradient(to bottom right, #d0ccc2e3, rgb(210, 200, 194, 1.5));
}

*{
    font-family: 'Calligraffitti', 'sans-serif';
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: var(--black);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

body{
    overflow-x: hidden;
    background: var(--black);
    
}

section{
    padding:2rem 9%;
}

.heading{
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2rem;
    color:#000000;
}

.heading span{
    color:var(--main-color);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    background:#f0ecec80;
    font-weight: 500;
    color:var(--black);
    cursor: pointer;
    border: 1.5px solid rgba(20, 17, 17, 0.315); 
}

.btn:hover{
    background: var(--main-color);
    color:#fff;
    letter-spacing: .1rem;
}

.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: transparent(0, 0, 0);
    padding:3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color:#343330;
    font-weight: bolder;
}

.header .logo i{
    padding-right: .5rem;
    color:rgba(0, 0, 0, 0.74);
    animation: floating 3s linear infinite;
}

@keyframes floating{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1rem);
    }
}

.header .navbar a{
    font-size: 1.7rem;
    color:#000000;
    margin:0 1rem;
}

.header .navbar a.active,
.header .navbar a:hover{
    color:white;
}

.header .icons a,
.header .icons div{
    font-size: 2.5rem;
    color:#070707b0;
    margin-left: 2rem;
    cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right:-105%;
    background: #fffefe;
    width:50rem;
    height:5rem;
    display: flex;
    align-items: center;
    opacity: 0;
}

.header .search-form.active{
    right:2rem;
    opacity: 1;
    transition: .4s linear;
}

.header .search-form input{
    width:100%;
    padding:0 1.5rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.header .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header.active{
    padding:2rem 9%;
    background: linear-gradient(to bottom right, #d0ccc2, rgb(210, 200, 194, 1.5));
    border-bottom: 2px solid black;
    width: 100%; /* Adjust the width of the line */
    margin: 0 auto; /* Center the line horizontally */
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.home{
    padding:0;
}

.home .home-slider .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem;
    background-size: cover !important;
    background-position: center !important;
}

.home .home-slider .box .content{
    text-align: center;
}

.home .home-slider .box .content h3{
    font-size: 5rem;
    color:#000000;
    transition-delay: .2s;
}

.home .home-slider .box .content p{
    font-size: 3rem;
    color:#000000;
    transition-delay: .4s;
    padding:1rem 0;
}

.home .home-slider .box .content .button{
    transition-delay: .6s;
}

.home .home-slider .box .content > *{
    transform: translateY(2rem);
    opacity: 0;
}

.home .home-slider .swiper-slide-active .content > *{
    transform: translateY(0rem);
    opacity: 1;
}

.home .home-slider .swiper-button-next{
    right: 4rem;
    color:#000000;
    opacity: 0;
}

.home .home-slider .swiper-button-prev{
    left: 4rem;
    color:#000000;
    opacity: 0;
}

.home .home-slider .swiper-button-next:hover,
.home .home-slider .swiper-button-prev:hover{
    color:var(--main-color);
}

.home .home-slider:hover .swiper-button-next,
.home .home-slider:hover .swiper-button-prev{
    opacity: 1;
}

.products .products-slider .box{
    position: relative;
    text-align: center;
    overflow: hidden;
}

.products .products-slider .box .image {
    height: 60rem;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
}


.products .products-slider .box .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.products .products-slider .box:hover .image img{
    transform: scale(1.2);
}

.products .products-slider .box .icons{
    position: absolute;
    top: 0; right: -6rem;
    z-index: 1;
}

.products .products-slider .box:hover .icons{
    right: 1rem;
}

.products .products-slider .box .icons a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color:var(--black);
    background: #ffffff;
    margin-top: 1rem;
    display: block;
}

.products .products-slider .box .icons a:hover{
    background: var(--main-color);
    color:#ffffff;
}

.products .products-slider .box .content{
    padding: 1rem 0;
}

.products .products-slider .box .content h3{
    font-size: 2.5rem;
    font-weight: normal;
    color:#000000;
}

.mproducts .products-slider .box{
    position: relative;
    text-align: center;
    overflow: hidden;
}

.mproducts .products-slider .box .image{
    height: 60rem;
    width:100%;
    overflow: hidden;
    border-radius: 30px;
}

.mproducts .products-slider .box .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.mproducts .products-slider .box:hover .image img{
    transform: scale(1.2);
}

.mproducts .products-slider .box .icons{
    position: absolute;
    top: 0; right: -6rem;
    z-index: 1;
}

.mproducts .products-slider .box:hover .icons{
    right: 1rem;
}

.mproducts .products-slider .box .icons a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color:var(--black);
    background: #fff;
    margin-top: 1rem;
    display: block;
}

.mproducts .products-slider .box .icons a:hover{
    background: var(--main-color);
    color:#fff;
}

.mproducts .products-slider .box .content{
    padding: 1rem 0;
}

.mproducts .products-slider .box .content h3{
    font-size: 2.5rem;
    font-weight: normal;
    color:#000000;
}

.about{
    background-position: center;
    background-size: cover;   
}

.about .content{
    padding:13rem 0;
    max-width: 50rem;
}

.about .content h3{
    font-size: 3rem;
    color:var(--main-color);
}

.about .content p{
    font-size: 1.5rem;
    color:#473f3f;
    line-height: 2;
    padding: 1rem 0;
}

.arrivals .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.arrivals .box-container .box{
    position: relative;
    text-align: right;
    overflow: hidden;
}

.arrivals .box-container .box {
    position: relative; /* Set the container to relative position */
}

.arrivals .box-container .box .image {
    height: 60rem;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
}

.arrivals .box-container .box .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    background: #e4e3e3a1;
    border-bottom-left-radius: 30px; /* Match the border radius of the image */
    border-bottom-right-radius: 30px; /* Match the border radius of the image */
}


.arrivals .box-container .box .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.arrivals .box-container .box:hover .image img{
    transform: scale(1.2);
}
.arrivals .box-container .box .icons{
    position: absolute;
    top: 0; right: -6rem;
    z-index: 1;
}
.arrivals .box-container .box .icons {
    position: absolute;
    top: 5%;
    right: -100%; /* Initially position the icons outside */
    transform: translateY(-50%);
    transition: right 0.3s ease;
}

.arrivals .box-container .box:hover .icons {
    right: 1rem; /* Move icons inside the box on hover */
}

.arrivals .box-container .box .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--black);
    background: #fff;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.arrivals .box-container .box .icons a:hover {
    background: var(--main-color);
    color: #fff;
}



.arrivals .box-container .box .content h3 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #000000;
    text-align: center; /* Center-align the text */
}

.arrivals .box-container .box .content .price {
    font-size: 2rem;
    font-weight: bolder;
    color: #811919;
    text-align: center; /* Center-align the text */
}

.arrivals .box-container .box .content .price span {
    font-size: 1.5rem;
    font-weight: normal;
    color: rgba(77, 75, 75, 0.664);
    text-decoration: line-through;
    text-align: center; /* Center-align the text */
}


.contact .row{
    display: flex;
    flex-wrap: wrap;
}

.contact .row .map{
    flex:1 1 42rem;
    width: 100%;
}

.contact .row form{
    flex:1 1 42rem;
    padding: 2rem;
    text-align: center;
    background:#f3f3f3;
}

.contact .row form h3{
    font-size: 3rem;
    padding-bottom: 1rem;
    color:var(--main-color);
}
.contact .row form .box {
    width: 100%;
    padding: 1rem;
    background: #fff;
    color: #180d0dc4;
    font-size: 1.6rem;
    text-transform: none;
    margin: 0.7rem 0;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    max-width: 100%; /* Make sure the width doesn't exceed 100% of the container */
}



.contact .row form textarea{
    height:15rem;
    resize: none;
}



.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:#000000;
    padding:1rem 0;
}

.footer .box-container .box a{
    font-size: 1.4rem;
    color:#6b6666;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--main-color);
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
    color:#fff;
}

.footer .credit{
    padding:1rem;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    border-top:.1rem solid rgba(0, 0, 0, 0.384);
    font-size: 2rem;
    color:linear-gradient(to bottom right, #52989e8a, #fffcfc);
    text-align: center;
}

.footer .credit span{
    color:#311d025b(202, 52, 52, 0.726);
}
















/* media queries  */

@media (max-width:991px){

    html{
        font-size:55%;
    }

    .header{
        padding:2rem;
    }

    .header.active{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background:#222;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        display: block;
        margin:2rem;
        font-size: 2rem;
    }

}

@media (max-width:450px){

    html{
        font-size:50%;
    }

    .home .home-slider .swiper-button-next,
    .home .home-slider .swiper-button-prev{
        display: none;
    }

}